*,
::before,
::after {
	margin: 0;
	padding: 0;
}

body {
	background-color: #5c0b20;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	height: 100vh;
}

.wrapper {
	width: 700px;
	height: 200px;
	display: grid;
	grid-row-gap: 5px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 50px);
	grid-template-areas:
		't t t t t t t t t t t t t'
		'd d i i i i i i i i i i i'
		'd d i i i i i i i i i i i';
	/* 'd d i i i i i i i i i i i'; */
}

.title {
	grid-area: t;
}

.dots-container {
	justify-content: center;
	align-items: center;
	/* background-color: #f6b93b; */
	grid-area: d;
	display: grid;
	grid-template-rows: repeat(3, 40px);
	/* background-color: darkorchid; */
}

.dot {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
}

.inputs-container {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: i;
	/* background-color: cyan; */
	text-align: center;
}

input {
	width: 300px;
	padding: 20px;
}

button {
	padding: 20px;
}

.dot.current-dot {
	background-color: #fff;
	transition: background-color 0.4s ease;
}

.step {
	display: none;
	opacity: 0;
}

.current {
	display: inline;
	opacity: 1;
	/* display: flex; */
}

.hide {
	/* display: none; */
	/* display: none; */
}
